#bitcoin {
    position: sticky;
    top: 40%;
    left: 0%;
    margin-left: auto;
    margin-right: auto;
    z-index: 999999;
    width: 200px;
    display: none;
    visibility: visible;
    color: #888888;
}

@media screen and (max-width: 479px) {
    #bitcoin {
        top: 30%;
    }
}

.path {
    stroke-dasharray: 2110;
    stroke-dashoffset: 2110;
    stroke-width: 2;
    stroke-linecap: round;
    animation: dash 1s linear infinite;
    fill-opacity: 0;
    stroke: orange;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 2110;
        opacity: 0;
        stroke: orange;
    }

    15% {
        opacity: 1;
        stroke: orange;
    }

    70% {
        opacity: 1;
        stroke: orange;
    }

    100% {
        stroke-dashoffset: 0;
        opacity: 0;
        stroke: yellow;
    }
}


.play-button {
    width: 152px;
    height: 152px;
    position: relative;
    cursor: pointer;
}

.play-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
}

.play-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: calc(100% + 15px);
    border: none;
    outline: none;
    background: none;
    opacity: 0;
    cursor: pointer;
}

.play-close::before,
.play-close::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    background-color: #fff;
}

.play-close::after {
    transform: rotate(-45deg);
}

.play-circles {
    display: block;
    width: 100%;
    height: 100%;
}

.play-perspective {
    width: 600px;
    height: 400px;
    position: absolute;
    left: -230px;
    top: -125px;
}

.play-triangle {
    width: 600px;
    height: 400px;
    background-color: #fff;
    cursor: pointer;
}

.video-player{
    z-index: 100000;
    margin-top: 50px;
}
